<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" property="og:description"
          content="{% if description %}{{ description }}{% else %}评课是为了更好地选课！{% endif %}">
    <meta name="keywords" content="XJTU,评课,课程">

    <link rel="icon" href="/course/static/image/favicon.ico">

    <title>{% if title and not hide_title %}{{ title }} - {% endif %}交大門评课社区</title>

    <link href="/course/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/course/static/css/style.css" rel="stylesheet">
    <link href="/course/static/stellarnav/css/stellarnav.css?ver=20230223" rel="stylesheet">

    {% block head %}
    {% endblock %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/xjtumen-g/cdn/html5shiv.min.js"></script>
    <script src="/xjtumen-g/cdn/respond.min.js"></script>
    <![endif]-->
    <script src="/xjtumen-g/cdn/MathJax.js?config=TeX-AMS_HTML"></script>
    <script src="https://cf.xjtu.live/xjtumen-g/cdn/plotly-2.17.1.min.js"></script>
</head>
